/* Import de la police Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    --background: #F8F9FF;
    --modalBackground: #7EA7F8;
    --white: #fff;
    --black: #000;
    --font: 'Poppins', sans-serif;
}

/* Style global de l'application */

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        gap: 0.5rem;
        padding: 0 3rem;
        font-size: 18px;
        align-items: center;

        #question {
            background-color: var(--black);
            color: var(--white);
            width: 11rem;
            height: 2rem;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            padding: 0.5rem 0.5rem;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    #left-part {
        font-weight: 600;
    }

    #right-part {
        gap: 2rem;

        #disconnect {
            font-weight: 600;
            text-decoration: none;
            color: var(--black);
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

body {
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Fin du style global de l'application */


/* Style de la page admin */
.alert-error {
    padding: 0;
    margin: 0;
}

/* Page de connexion */
#adminConnect {
    background: var(--modalBackground);
    color: var(--black);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20rem;

    h1 {
        font-family: var(--font);
        font-weight: 700;
        font-size: 30px;
    }

    #form {
        flex: 2;

        form {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            padding: 4rem;
        }

        .admin-form_group {
            display: flex;
            flex-direction: column;
            gap: 5px;

            input {
                border-radius: 10px;
                border: 2px solid var(--black);
                width: 18rem;
                height: 2rem;
            }
        }

        input[type="submit"] {
            background-color: var(--black);
            color: var(--white);
            width: 8rem;
            height: 2rem;
            border-radius: 10px;
        }
    }

    #text {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;

        .left-star {
            margin-right: 22rem;
        }

        .right-star {
            margin-left: 22rem;
        }
    }
}

/* Page d'administration */
.sub-header {
    background: var(--modalBackground);
    color: var(--black);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 14rem;
    padding-left: 3rem;

    .left-part {
        flex: 1;

        .title {
            font-size: 30px;
            font-weight: 600;
        }
    }

    .right-part {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .top {
            flex: 1;

            .top-left {
                height: 100%;
                display: flex;
                gap: 0.5rem;
                flex-direction: column-reverse;
                justify-content: center;

                .left-star {
                    margin-left: -10rem;
                    height: auto;
                    width: 2rem;
                }

                .right-star {
                    margin-left: -22rem;
                    height: auto;
                    width: 2rem;
                }
            }

            .top-right {

            }
        }

        .bot {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22rem;
            background-color: var(--white);
            border-top-left-radius: 90px;
            border-top-right-radius: 90px;

            #imsic-link {
                background-color: var(--black);
                color: var(--white);
                width: 13rem;
                height: 2rem;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 0.5rem 0.5rem;

                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}


/** Footer **/
footer {
    background-color: black;
    color: white;
    padding: 60px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.footer-content a{
    text-decoration: none;
    color: white;
}

.footer-content .left,
.footer-content .right {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
}

.footer-content .left h2 {
    margin: 0;
}

.footer-content .left p,
.footer-content .right p {
    margin: 5px 0;
}
